.article {

    // &__title {

    // }

    // &__text {

    // }

    &__img {
        background-image: url("../../assets/images/sarain-banner-d.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        width: 100%;

    }
}