@font-face {
    font-family: Didot;
    src: url("../../../src/assets/fonts/DidotLH-Roman.otf") format("opentype");
}

@font-face {
    font-family: NeueHass;
    src: url("../../../src/assets/fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype");
}
